.title {
    color: white;
    font-weight: 600;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
}

.arrowicon {
    width: 20px;
    height: 20px;
    background-position: center;
    background-repeat: no-repeat;
}

.list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
}

.titleandarrowcontainer{
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}